---
services: docker

env:
#  - distro: centos7
#  - distro: centos6
#  - distro: fedora27
#  - distro: ubuntu1604
#  - distro: ubuntu1404
#  - distro: ubuntu1204

  - distro: debian9
  - distro: debian8
  - distro: ubuntu1804
  - distro: ubuntu1604

script:
  # Configure test script so we can run extra tests after playbook is run.
  - export container_id=$(date +%s)
  - export cleanup=false
  - export DOCKER="docker exec --tty ${container_id} env TERM=xterm"

  # Download test shim.
  - wget -O ${PWD}/tests/test.sh https://gist.githubusercontent.com/tschifftner/4078cf2a8429d967d5e100649ff2caa9/raw/
  - chmod +x ${PWD}/tests/test.sh

  # Run tests.
  - ${PWD}/tests/test.sh

  - ${DOCKER} test -e /usr/local/bin/sslcertcheck.sh
  - ${DOCKER} test -e /etc/sslcertcheck.txt
  - ${DOCKER} /etc/ansible/roles/role_under_test/tests/run-test.sh
  - ${DOCKER} test -e /var/log/sslcertcheck.log
  - ${DOCKER} test -e /usr/bin/sslcertcheck-monit-helper.sh
  - ${DOCKER} grep 'badssl.com:443:Valid' /var/log/sslcertcheck.log
  - ${DOCKER} grep 'expired.badssl.com:443:Expired' /var/log/sslcertcheck.log
  - ${DOCKER} grep 'root /usr/local/bin/sslcertcheck.sh -f /etc/sslcertcheck.txt' /etc/cron.d/monit_sslcertcheck


after_failure:
  - ${DOCKER} cat /var/log/sslcertcheck.log
  - ${DOCKER} cat /etc/sslcertcheck.txt
  - ${DOCKER} test -e /usr/local/bin/sslcertcheck.sh
  - ${DOCKER} /usr/local/bin/sslcertcheck.sh -f /etc/sslcertcheck.txt -x 10
  - ${DOCKER} /usr/local/bin/sslcertcheck.sh -f /etc/sslcertcheck.txt -x 10 > /var/log/sslcertcheck.log
  - ${DOCKER} test -e /var/log/sslcertcheck.log
  - ${DOCKER} test -e /usr/bin/sslcertcheck-monit-helper.sh
  - ${DOCKER} grep expired /var/log/sslcertcheck.log
  - ${DOCKER} cat /etc/cron.d/monit_sslcertcheck


notifications:
  slack: ambimax:2MlPTX9bY9aPxCPhJGxHKIT6
  webhooks: https://galaxy.ansible.com/api/v1/notifications/
