---

- name: Save file with all domains
  template:
    src: 'domains.txt'
    dest: '{{ monit_sslcertcheck_domainfile }}'
    owner: root
    group: root
    mode: '0444'

- name: Create log file
  file:
    path: '{{ monit_sslcertcheck_logfile }}'
    state: touch
    owner: root
    group: root
    mode: '0777'
  changed_when: false
  
- name: Create cronjob
  cron:
    name: 'Check if SSL certificates are still valid'
    user: root
    cron_file: monit_sslcertcheck
    job: '{{ monit_sslcertcheck_cronjob }}'
    special_time: daily
    state: present

